@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background: #850e52;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #d0bbe5;
  padding: 35px 15px 15px;
  border-radius: 5px;
}

.wrapper:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 13px;
  background: #b696d7;
  border-radius: 50px;
}

.wrapper:after {
  content: "";
  position: absolute;
  /* top position adjusted */
  top: -265px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  /* height adjusted */
  height: 285px;
  background: #353535;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.125);
}

.card {
  width: 200px;
  height: 320px;
  background: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  border-radius: 5px;
}

.card img {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card .info {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 20px;
  background: #353535;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card p {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.profile-username {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 4px;
  font-family: inherit;
  color: #353535 !important;
}

.text-muted {
  color: #6c757d !important;
}

.text-center {
  text-align: center !important;
}

/* add selecter to this class to adjust multipage cards */
.page-wrapper {
  position: relative;
  height: 100vh;
}
